.right-container {
  width: 60%;
  background-image: linear-gradient(to bottom, #151820 50%, #2c3040);
}
.image-container{
  background-image: url('../../assets/Banner.png');
  height: 30%;
  background-size: cover;
  position: relative;
}
.safe-Content{
  position: absolute;
  top: 1rem;
  left: 16rem;
}
.Sample {
  font-size: 24px;
  font-weight: 500;
  color: #fff;
  position: relative;
}
.content {
  margin: 13px 0 0;
  font-family: Helvetica;
  font-size: 14px;
  line-height: 1.29;
  color: #c4c4c4;
}
.secret-content{
  margin: 0 1rem;
  height: 70%;
  position: relative;
}
.secrets {
  display: flex;
  justify-content: space-between;
}
.secrets li {
  text-decoration: none;
  color: #fff;
  list-style: none;
  padding: 10px 30px;
  display: flex;
}
.line {
  height: 3px;
  background-color: #222632;
}
.image2{
  width: 8rem;
  height: 8rem;
  margin: 1rem;
}
.img-content{
  position: absolute;
  top: 4rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  left: 9rem;
}
.secrets li:hover {
cursor: pointer;
background-image: linear-gradient(to top, #72134b, #1d212c);
}
.right-content {
  font-family: Helvetica;
  font-size: 14px;
  color: rgb(110, 73, 105);
  margin: 1rem;
  
}

.right-content .text-style-2 {
  font-weight: bold;
  color: #f2f2f2;
}
.addButton{
  width: 5rem;
  padding: .5rem;
  background-color: deeppink;
  color: #fff;
  margin: 1rem;
}


.right-card{
  color: ghostwhite;
  padding: 1rem;
  font-family: Roboto;
  font-size: 16px;
  }
