.header {
  display: flex;
  align-items: center;
  padding: 0 10%;
  flex-grow: 0;
  box-shadow: 0 5px 25px 0 rgba(226, 0, 116, 0.5);
  background-color: #151820;
}

.logo {
  font-size: 1rem;
  color: white;
  font-weight: bold;
  padding-right: 3rem;
}

.header ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  align-items: baseline;
}

.header a{
  text-decoration: none;
  flex-grow: 0;
  font-family: Helvetica;
  font-size: 13px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  text-align: center;
  color: #fff;
  padding: .5rem;
}

.header li{
  text-decoration: none;
  color: #fff;
  font-size: 13px;
  font-weight: bold;
  padding: 1rem .5rem;
}
.header li:hover {
    background-image: linear-gradient(to top, #72134b, #1d212c);
}
.header nav{
    display: flex;
}