.addFolder {
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.2);
    background-color: #2a2e3e;
    padding: 3rem;
    text-align: center;
    width: 35rem;
    z-index: 10;
    position: fixed;
    top: 35vh;
    left: calc(45% - 10rem);
    bottom: 35vh;
  }
  .addFolder-content {
    display: flex;
    flex-direction: column;
  }
  .Safename {
    text-align: left;
    font-size: 13px;
    color: white;
    margin: 0.5rem 0 0 0.5rem;
  }
  .Safe {
    margin: 0.5rem;
    padding: 0.5rem;
    border: none;
    outline: none;
    text-decoration: none;
  }
  .addFolder-btn-cancle {
    color: deeppink;
    align-items: center;
    margin: 1rem;
    padding: 0.5rem 1.5rem;
    background-color: white;
    border: none;
    outline: none;
    text-decoration: none;
    cursor: pointer;
  }
  .addFolder-btn-create {
    color: white;
    align-items: center;
    margin: 1rem;
    padding: 0.5rem 1.5rem;
    background-color: deeppink;
    border: none;
    outline: none;
    text-decoration: none;
    cursor: pointer;
  }
  .addFolder-btn {
    display: flex;
    justify-content: flex-end;
  }